<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="sair()">Logout</a>
  </div>
</nav> -->
<app-sidenav></app-sidenav>
<!-- <h1>Olá {{currentUser.firstName}}!</h1>
<h3>Usuários cadastrados:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} <span *ngIf="user.firstName != null && user.lastName != null">({{user.firstName}} {{user.lastName}})</span>
        - <a (click)="deleteUser(user.id)" class="text-danger">Deletar</a>
    </li>
</ul> -->